h1{
    color:rgba(0, 255, 255, 0.918)
    
  }
  *{
    border:solid
    rgba(53, 52, 52, 0.89)
   
  }
  *{
  background-color: rgba(53, 52, 52, 0.89);
  }
  h2{
    color: aliceblue;
  }
  h3{
    color:gold
  }
  a{
    color:darkorange}

    .header{
        background-color: black;
        display: flex
        
    }